.container{
    display : flex;
    flex-direction: column;
    gap : 3em;
    font-family: 'Nunito', sans-serif;
    padding : 5%; 
    margin-bottom: 80px;
}

.addAgency, .searchAgency{
    display : flex;
    gap : 2em;
}

.addAgency > button{
    display: flex;
    flex:0 0 auto;
    gap : 1em;
    background-color: #111111B2;
    border-radius: 10px;
    padding: 0.6em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    color : white;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
}

.addAgency > div > select{
    flex-grow:10;
    border: 2px solid F5F5F5;
    border-radius: 5px;
    
}

.addAgency > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 3;
}

.searchAgency > button{
    display: flex;
     gap : 1em;
    background-color: #40916C;
    border-radius: 10px;
    padding : 0.7em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    color : white;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
    width : 20%
}
.searchAgency > div{
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    justify-content: center;
    width : 60%;
}

.searchAgency > div:first-child{
    width : 20%
}

.searchAgency > div > select:nth-child(1){
    border: 2px solid F5F5F5;
    border-radius: 5px;
}

.searchAgency > div > select:nth-child(2){
    border: 2px solid F5F5F5;
    border-radius: 5px;
}

.container select {
    width : 100%;
    height: 100%;
    background-color: #F5F5F5;
    padding : 0.8em;
    border-radius: 10px 10px 10px 10px ;
}

.container select option:hover {
   background-color: #48BB78;
}


.addAgency > div > span, .searchAgency > div > span{
    font-weight: 700;
} 

.mySelect {
    /* Add styles for the select element */
    background-color: #FFFFFF;
    color: #333333;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    width: 200px;
  }

  .myOption {
    /* Add styles for the option elements */
 
    padding: 8px;
    font-size: 16px;
  }

  .myOption:hover {
    /* Add styles for the option elements on hover */
    background-color: #38A169;
  }

@media only screen and (max-width:770px){
    .container button > span{
        display : none;
    }
    .container button{
        width : 40px;
        background-color: #111111A0;
        padding: 0px;
    }
    .container button img{
        width : 1.2em;
        height: auto;
    }
}


@media only screen and (max-width:730px){
    .container {
        font-size: 15px;
    }
}

@media only screen and (max-width:430px){
    .container{
        font-size: 13px;
    }
}