/* .headerListePrestations{
   display : flex;
   justify-content: flex-end;
   align-items: center;
  width : 100%;
  height: 100%;
   margin-bottom: 5%;
  
}
.image1, .image2 {
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 33%;
}

.image1 > img, .image2 > img{
  height: 6em;
  width : auto;
}

.image1 > span, .image2 > span{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-top :2%;
} */
/* .row{
  position : relative;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display : flex;
  justify-content: space-between;
  width : 100%;
  height: 100%;
  opacity : 1;
  align-items: center;
}
.row img{
  position :relative;
  width : 1.7em;
  height : auto;
  margin : 0.3em;
}
.row span{
  display : flex;
  position : relative;
  align-items: center;
}

.prestationName, .value1,  .value2{
  display : flex;
  justify-content: center;
  width : 33%;
  padding : 1.7em;
}

.prestationName span{
  position : relative;
  display : flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding : 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
 */
/* .listePrestations{
  padding-left: 10%;
  padding-right: 10%;
} */
body{
  background-color: white;
}

/* main{
  display : flex;
  justify-content: center;
  width : 100%;

} */

/* .deletePopUpContainer{
  display : flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  width : 50%;
  background-color: white;
  margin-top: 10px;
  border-radius: 10px 10px 10px 10px;
}

.deleteHeader{
  display : flex;
  background-color: #DF2E38;
  justify-content: space-between;
  padding: 0.8em;
  border-radius: 10px 10px 0px 0px;
}

.deleteHeaderLeft{
  display : flex;
  align-items: center;
}

.headerDeleteMessage{
  font-weight: 700;
  padding-left: 0.5em;
  color: white;
}

.deleteFooter{
  display : flex;
  justify-content: flex-end;
  padding: 2.5em;
 
}

.divDelete{
  display : flex;
  justify-content: center;
  align-items: center;
  background-color: #DF2E38;
  padding: 0.7em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  border-radius: 5px;
}

.spanDelete{
  color:white;
}

.divDescard{
  display : flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em;
  margin-right: 1.2em;
}

.divMessage{
  padding : 2em;
}

.spanMessage{
  font-weight: 500;
  display : flex;
  text-align: center;
}

.spanDiscard, .spanDelete{
  font-weight: 400;
}

.basketImg, .crossImg{
  height: 1.5em;
  width: auto;
} */

/* .containerSuccess{
  position: relative;
  border-radius: 10px 10px 10px 10px;
  height: 205px;
  width: 50%;
  margin-top: 10px;

}

.successWhiteSide{
  position: relative;
  display : flex;
  justify-content: flex-end;
  height: 64%;
  background-color: white;
  border-radius: 10px 10px 0px 0px;

}

.successGreenSide{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background-color: rgba(31, 138 , 112, 0.6);
  border-radius: 0px 0px 10px 10px;
}
.successWhiteSquare{
  position: absolute;
  top : 59%;
  left: 49%;
  transform : rotate(45deg);
  height: 20px;
  width : 20px;
  z-index: 1;
  background-color: white;
}

.poursuivreNav{
  background-color: rgba(30, 69, 62, 0.7);
  padding: 0.6em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  border-radius: 10px 10px 10px 10px;
}

.buttonText{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color : white;
  font-size: 14px;
}

.sucessCheckDiv, .crossDiv{
  display : flex;
  width: 33%;
}

.crossDiv{
  position : relative;
  align-items: start;
  justify-content: flex-end;
}

.sucessCheckDiv{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SuccessCheckSpan{
  color: #40916C;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.SuccesChackSpanBlack{
  display: flex;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}
 */
.dataModification{
  background-color: white;
  display: flex;
  flex-direction: column;
  gap:3em;
  padding : 4em;
  width: 80%;
}

.dataInput{
  display : flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputBlock{
  border: 0.5px solid black;
  padding : 0.8em;
  margin-bottom: 2.5em;
  margin-top: 0.5em;
  font-family: 'Nunito', sans-serif;
}

.inputMessage{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.inputBlock::placeholder{
  font-weight: 200;
  
}
.in1{
  background-image: url("../../public/assets/modificationsPage/adressIcon.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
.in2{
  background-image: url("../../public/assets/modificationsPage/telIcone.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
.in3{
  background-image: url("../../public/assets/modificationsPage/faxIcon.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
.in4{
  background-image: url("../../public/assets/modificationsPage/localisationIcon.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
/* }

.inputComponent{
  display:flex;
  flex-direction: column;
}
.inputBar{
  position: relative;
  display:flex;
}

.inputBar Image, .inputBar span{
  z-index: 1;
}

.inputBar input{
  position :absolute;
}
 */

.dataValidation{
  display: flex;
  justify-content: center;
  gap : 10%;
}

.dataValidation > button{
  display: flex;
  justify-content: center;
  gap : 10%;
  align-items: center;
  background-color: rgba(64, 145, 108);
  border-radius: 10px 10px 10px 10px;
  padding :  0.8em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color:white;
}

/* .agencyRow{
  display : flex;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  background-color: white;
  padding: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.agencyRowBankLocalisation{
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2.4em;
  padding-right: 2.4em;
}

.agencyRowBankLocalisation img{
  width : 3em;
  height: auto;
}

.agencyRowTelFax img{
  width : 1.5em;
  height: auto;
}
.agencyRowAdressLocalisation{
  display: flex;
  flex-direction: column;
  padding-left: 2.4em;
  padding-right: 2.4em;
  width : 55%;
}

.agencyRowAdressLocalisation > a{
  text-decoration: underline;
  color: #144272;
  font-weight: 600;
}

.agencyRowAdressLocalisation > span :first-child,
.agencyRowTelFax > span > span:first-child{
  color: #40916C;
  font-weight: 700;
}

.agencyRowTelFax{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap : 1em;
  width:  35%;
}

.agencyRowTelFax > span{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;

}

.agencyRowModifyDelete{
  display : flex;
  justify-content: center;
  width : 12%;
  gap : 1.5em;
}

.agencyRowModifyDelete img{
  width : 1.2em;
  height: auto;
} */
/* //useState()
useEffect() */