.containerScnd{
    display: flex;
    justify-content: space-around;
    border-bottom:1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    background-color: #fbfbfb;
    padding : 4vh 0;
    width: 100vw;
}
.containerFrst{
    display: flex;
    justify-content: space-around;
    padding: 4vh 0;
    width: 100vw;
}
.nomPrestation{
    width: 50%;
    text-align: center;
    color: #40916C;
    font-weight: 700;
    margin: 0 0;
    padding: 0 0;
}
.tarifPrestation{
    text-align: center;
    width: 50%;
    flex-shrink: 0;
    font-weight: 700;
    margin: 0 0;
    padding : 0 0;
    
}

.nomTarifPrestation{
    display : flex;
    margin: 0 0;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: 0 5%;
}


@media screen and (max-width: 800px) {
    .containerFrst{
        flex-direction: column;
        align-items: center;
        padding: 0 0;
    }
    .containerScnd{
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: none;
        padding : 0 0;
    }
    .nomTarifPrestation{
        padding: 4vh 0;
        width: 100%;

    }
    .nomTarifPrestation:nth-child(2){
        border-bottom:1px solid #eeeeee;
        border-top: 1px solid #eeeeee;
        background-color: #fbfbfb;

    }
    .tarifPrestation{
        width: 50%;
    }
    .nomPrestation{
        width: 50%;
        padding :0 10vw;
    }
  }