.bankSearchBox{
    margin: 5vh 10vw;
}

.bankSearchBox h2{
    margin: 1vh 1vw;
    font-weight: 600;
    font-size: 18px;
}
.inputButton{
    display: flex;
}
.searchBox{
    width: 75%;
}
.button{
    background-color: #585858;
    color : white;
    width: 20%;
    border-radius: 10px;
    margin-left: 5%;
}
.twoInputs{
    display: flex;
    margin: 5vh 10vw;

}
.categorie{
    width:47%;
}
.categorie h2{
    margin: 1vh 1vw;
    font-weight: 600;
    font-size: 18px;
}
.type{
    width:47%;
    margin-left:6%;
}
.type h2{
    margin: 1vh 1vw;
    font-weight: 600;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .bankSearchBox{
        margin: 5vh 10vw;
    }
    
    .bankSearchBox h2{
        margin: 1vh 1vw;
        font-weight: 600;
        font-size: 18px;
    }
    .inputButton{
        display:block;
    }
    .searchBox{
        width: 100%;
    }
    .button{
        background-color: #585858;
        color : white;
        width: 100%;
        border-radius: 10px;
        margin-left: 0;
        margin : 4vh 0;
        padding: 1vh 0;
    }
    .twoInputs{
        display: block;
        margin: 5vh 10vw;
    
    }
    .categorie{
        width:100%;
    }
    .categorie h2{
        margin: 1vh 1vw;
        font-weight: 600;
        font-size: 18px;
    }
    .type{
        width:100%;
        margin-left:0;
    }
    .type h2{
        margin: 1vh 1vw;
        margin-top: 3vh;
        font-weight: 600;
        font-size: 18px;
    }
    

}
