.bankSearchBox{
    margin: 5vh 10vw;
}
.reload{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #40916c;
    text-align: center;
    font-size: xx-large;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right:0;
}
.reload:hover{
    background-color: #62b791;
}


.bankSearchBox h2{
    margin: 1vh 1vw;
    font-weight: 600;
    font-size: 18px;
}
.inputButton{
    display: flex;
}
.searchBox{
    width: 70%;
}
.button{
    background-color: #585858;
    color : white;
    width: 20%;
    border-radius: 10px;
    padding: 3px;
    margin-left: 3%;
    margin-right: 2%;
}
.button:hover{
    background-color: #676767;
}
.threeInputs{
    display: flex;
    margin: 5vh 10vw;

}
.categorie{
    width:30%;
    margin-right: 5%;
    margin-left:5%;
}
.categorie h2{
    margin: 1vh 1vw;
    font-weight: 600;
    font-size: 18px;
    
}
.type{
    width:30%;
    
}
.type h2{
    margin: 1vh 1vw;
    font-weight: 600;
    font-size: 18px;
}
.categorieOperation{
    width: 30%;
}
.categorieOperation h2{
    margin: 1vh 1vw;
    font-weight: 600;
    font-size: 18px;

}

@media screen and (max-width: 600px) {
    .bankSearchBox{
        margin: 5vh 10vw;
    }
    
    .bankSearchBox h2{
        margin: 1vh 1vw;
        font-weight: 600;
        font-size: 18px;
    }
    .inputButton{
        display:block;
    }
    .searchBox{
        width: 100%;
    }
    .button{
        background-color: #585858;
        color : white;
        width: 78%;
        border-radius: 10px;
        margin-left: 0;
        margin : 4vh 0;
        padding:22px 0;
    }
    .reload{
        position:relative;
        top: 10px;
        left: 5%;
        width: 10vh;
        height: 10vh;
        margin-left: 0;
        margin-right: 0;
        display: inline-block;
        text-align: center;
    }
    .reloadButton{
        margin: 0 23%;
    }
    .threeInputs{
        display: block;
        margin: 5vh 10vw;
    
    }
    .categorieOperation{
        width: 100%;
        margin: 5vh 0;

    }
    .categorieOperation h2{
        margin: 1vh 1vw;
        font-weight: 600;
        font-size: 18px;
    }
    .categorie{
        width:100%;
        margin: 5vh 0;
    }
    .categorie h2{
        margin: 1vh 1vw;
        font-weight: 600;
        font-size: 18px;
    }
    .type{
        width:100%;
        margin: 5vh 0;
    }
    .type h2{
        margin: 1vh 1vw;
        margin-top: 3vh;
        font-weight: 600;
        font-size: 18px;
    }
    

}


@media screen and (max-width: 415px) {
    .bankSearchBox{
        margin: 5vh 10vw;
    }
    
    .bankSearchBox h2{
        margin: 1vh 1vw;
        font-weight: 600;
        font-size: 18px;
    }
    .inputButton{
        display:block;
    }
    .searchBox{
        width: 100%;
    }
    .button{
        background-color: #585858;
        color : white;
        width: 58vw;
        border-radius: 10px;
        margin-left: 0;
        margin : 4vh 0;
        padding:22px 0;
    }
    .reload{
        position:relative;
        top: 10px;
        left: 5%;
        width: 10vh;
        height: 10vh;
        margin-left: 0;
        margin-right: 0;
        display: inline-block;
        text-align: center;
    }
    .reloadButton{
        margin: 0 23%;
    }
    .threeInputs{
        display: block;
        margin: 5vh 10vw;
    
    }
    .categorieOperation{
        width: 100%;
        margin: 5vh 0;

    }
    .categorieOperation h2{
        margin: 1vh 1vw;
        font-weight: 600;
        font-size: 18px;
    }
    .categorie{
        width:100%;
        margin: 5vh 0;
    }
    .categorie h2{
        margin: 1vh 1vw;
        font-weight: 600;
        font-size: 18px;
    }
    .type{
        width:100%;
        margin: 5vh 0;
    }
    .type h2{
        margin: 1vh 1vw;
        margin-top: 3vh;
        font-weight: 600;
        font-size: 18px;
    }
    

}
